@import "../../../styles.scss";
.my-pieces-table{ 
    font: 13px Helvetica, Arial; 
    background-image: url('/assets/background/pieces.png');
    .piece-search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 55px auto;
        width: 50%;
        h2 {
            font-size: 40px;
            font-weight: 600;
            width: 80%;
            color: $darkBlue;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        input {
            background-position: 96%;
            background-repeat:no-repeat;
            background-image:url('/assets/icon/searchIcon.svg');
        }
        #myPieceSearchInput {
              width: 100%;
              height: 60px;
              border: 1px solid $lineBlue;
              margin: 0 auto;
              outline: none;
              text-indent: 20px;
              font-family: $fontTitilli;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: -0.26px;
              margin-left: 10px;
              border-radius: 2px;
          }
        input::-webkit-input-placeholder {
            text-indent: 20px;
            color: $inputText;
        }
    }
}
.pieces-table {
    display: flex;
    justify-content: center;
    padding: 0 0 150px 0;

    table {
        border-collapse: collapse;
        width: 80%;
        background-color: $white;
        tbody {
            flex-direction: column;
        }
        p {
            font-size: 13px;
            line-height: 20px;
            width: 100px;
        }
        th, td {
            text-align: left;
            padding: 8px;
            width: 100px;
            
        }
        tr {
            border-style: solid;
            border-width: 1px;
            border-color: $lineBlue;
        }
        tr:nth-child(even) {
            background-color: $lightGrey;
        }
    }
}
.pieces-status {
        display: flex;
    .status {
        border-radius: 15px;
        padding: 4px; 
        width: 1px;
        height: 1px; 
        margin: 6px 0 10px -40px;
    }
    .approved {
        background: $statusApproved;
    }
    .pending {
        background: $statusPending;
    }
    .denied {
        background: $statusDenied;
    }
}
.piece-thumbnail{
    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
}
.deleteModal {
    border: none !important;
    border-radius: unset !important;
    padding: 30px !important;
}
.modal-body {
    padding-bottom: 20px;
    padding-top: 20px;
}
.modal-footer {
    padding-bottom: 20px;
    padding-top: 40px;
}