<section class="all-users">
  <div class="name-search">
      <h2>Search through all our creatives</h2>
    <input id="myUserSearchInput" type="text" [(ngModel)]="filterName" placeholder="Search for first name" >
    <div class="name-not-found" *ngIf="(users | filter: filterName) ?.length== 0">
      <p>No Result found <br> Please check spelling or try different keywords.</p>
    </div>
  </div>
  <div class="user-list">
    <div *ngFor="let user of users | filter: filterName" class="eachUser divWhiteBox">
      <div class="profileImg">
          <img  src="{{user.profile_image}}" alt="">
      </div>
      <h3>{{user.firstname}} {{user.lastname}} - <span> {{user.profession}}</span></h3>
      <p>{{user.email}}</p>
      <p>Phone number: {{user.phone_number}}</p>
      <!-- <p >{{user.description}}</p> -->
      <p>Social Media</p>
      <a class="facebookIcon" href="{{user.facebook_url}}" target="_blank"><img src="assets/icon/facebook.svg" alt="facebook"></a> 
      <a href="{{user.twitter_url}}" target="_blank"><img src="assets/icon/instagram.svg" alt="instagram"></a>
    </div>
  </div>
</section>