@import "../../../styles.scss";
.all-users{
    background-image: url('/assets/background/pieces.png');
    padding: 20px;
}
.name-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 55px auto;
    width: 50%;
    h2 {
        font-size: 40px;
        font-weight: 600;
        width: 80%;
        color: $darkBlue;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    input {
        background-position: 96%;
        background-repeat:no-repeat;
        background-image:url('/assets/icon/searchIcon.svg');
    }
    #myUserSearchInput {
          width: 100%;
          height: 60px;
          border: 1px solid $lineBlue;
          margin: 0 auto;
          outline: none;
          text-indent: 20px;
          font-family: $fontTitilli;
          font-size: 14px;
          font-weight: 300;
          letter-spacing: -0.26px;
          margin-left: 10px;
          border-radius: 2px;
      }
    input::-webkit-input-placeholder {
        text-indent: 20px;
        color: $inputText;
    }
    .name-not-found{
        height: 400px;
        text-align: center;
        p{
            font-size: 12px;
        }

    }
}
.user-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    .eachUser{
        flex: calc(30% - 35px);
        padding: 20px;
        margin: 15px;
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 6px;
        }
    }
}