<div class="forms overlay" id="logIn">
    <div class="logIn" id="formLogIn">
      <div class="formLogIn__header">
          <a routerLink="/" class="formLogIn__header__close btnNone">close</a>
          <div class="formLogIn__header__logo"></div>
          <h2>Sign up to Young Nordic Artists & Designers</h2>
      </div>
      <form class="logInForm" [formGroup]="loginForm" (submit)="loginSubmit(loginForm)" novalidate>
          <mat-form-field>
            <input class="h5" matInput placeholder="email" formControlName="email">
          </mat-form-field>
          <div *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.touched">
            You must fill out a valid email
          </div>
          <mat-form-field>
            <input class="h5" matInput placeholder="password" formControlName="password">
          </mat-form-field>
        <!--     
          <p>Form value: {{ loginForm.value | json }}</p>
          <p>Form status: {{ loginForm.status | json }}</p>
         -->
          <button class="btnDark" type="submit" >Login</button>
  
      </form>
    </div>
  </div>
  
