@import "../../styles.scss";
#logIn{
    display: inline-flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('/assets/background/frontHero.png');
    position: relative;
}
.overlay {
    position: relative;
    &:before{
        width:100%;
        height:100%;
        position: absolute;
        content:" ";
        top:0;
        left:0;
        z-index:0;
        background-color: rgba($darkBlue, 0.5);
    }
}

#formLogIn {
    width: 720px;
    margin: 55px auto;
    background-color: $white;
    z-index: 1;
    .formLogIn__header{
        width: 100%;
        height: 135px;
        padding-top: 30px;
        background-color: $admin;
        position: relative;
        &__close{
            position: absolute;
            top: 30px;
            right: 30px;
        }
        &__logo{
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background-image: url('/assets/logo/logoBox.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        h2{
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }
    }

    .logInForm{
        width: 70%;
        margin: 65px 15%;
    }
    input{
        width: 100%;
        margin: 4px 0;
        border: none;
        color: $black;
    }
    .mat-form-field {
        display: block;
    }
    input.custom-file-input {
        border-bottom: none;
        height: 65px;
        outline: none;
    }
    input::-webkit-input-placeholder {
        color: $inputText;
    }
    .h5{
        font-weight: $fontRegular;
    }
    button{
        width: 100%;
        margin-top: 25px;
    }
}