<!--The content below is only a placeholder and can be replaced.-->
<section class="header">
  <mat-toolbar class="headerToolbar">
    <div class="logo">
      <div class="btnLogo" routerLink="home" ><img src="assets/logo/logo.svg"></div>   
    </div>
    <div class="navbar-items">
          <button class="btnNone" mat-button routerLink="pieces" >Pieces</button>
          <button class="btnNone" mat-button routerLink="creatives">Creatives</button>
          <button class="btnNone" mat-button routerLink="about">About</button>
          <button mat-button class="btnNone lineLeft" routerLink="about"><img src="assets/icon/basket-ico.svg"></button>
          <div>
              <button class="btnLight" routerLink="log-in" *ngIf="!authService.isLoggedIn">Log In </button>
              <button class="btnDark" routerLink="sign-up" *ngIf="!authService.isLoggedIn">Sign Up </button>
              <button class="btnNone btnWelcome" mat-button routerLink="admin" *ngIf="authService.isLoggedIn">Welcome</button>
          </div>
    </div>

  </mat-toolbar>
</section>

<router-outlet></router-outlet>

<app-footer></app-footer>
