<section class="my-pieces-cards">
    <mat-card class="piece-card">
        <div class="piece-card-image">
            <img mat-card-image src="../../assets/images/artp_image.png" alt="Photo of art piece">
        </div>
        <div class="piece-card-content">
            <mat-card-content>
                <p>
                  Comment On The Importance Of Human
                </p>
                <div class="card-title-price ">
                  <h3>Norman King</h3>
                  <h3>$ 572</h3>
                </div>
                <p>Photography - 47x96</p>
              </mat-card-content>
              <div class="card-line" ></div>
              <mat-card-actions>
                <button mat-button>LIKE</button>
              </mat-card-actions>
        </div>
      </mat-card>
      <mat-card class="piece-card">
          <div class="piece-card-image">
              <img mat-card-image src="../../assets/images/artp_image2.png" alt="Photo of art piece">
          </div>
          <div class="piece-card-content">
              <mat-card-content>
                  <p>
                    Comment On The Importance Of Human
                  </p>
                  <div class="card-title-price ">
                    <h3>Norman King</h3>
                    <h3>$ 572</h3>
                  </div>
                  <p>Photography - 47x96</p>
                </mat-card-content>
                <div class="card-line" ></div>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                  </mat-card-actions>
               
          </div>
        </mat-card>
        <mat-card class="piece-card">
            <div class="piece-card-image">
                <img mat-card-image src="../../assets/images/artp_image3.png" alt="Photo of art piece">
            </div>
            <div class="piece-card-content">
                <mat-card-content>
                    <p>
                      Comment On The Importance Of Human
                    </p>
                    <div class="card-title-price ">
                      <h3>Norman King</h3>
                      <h3>$ 572</h3>
                    </div>
                    <p>Photography - 47x96</p>
                  </mat-card-content>
                  <div class="card-line" ></div>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                  </mat-card-actions>
            </div>
          </mat-card>
          <mat-card class="piece-card">
              <div class="piece-card-image">
                  <img mat-card-image src="../../assets/images/artp_image4.png" alt="Photo of art piece">
              </div>
              <div class="piece-card-content">
                  <mat-card-content>
                      <p>
                        Comment On The Importance Of Human
                      </p>
                      <div class="card-title-price ">
                        <h3>Norman King</h3>
                        <h3>$ 572</h3>
                      </div>
                      <p>Photography - 47x96</p>
                    </mat-card-content>
                    <div class="card-line" ></div>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
              </div>
            </mat-card>
</section>
