@import "../../../styles.scss";
#admitPiece {
    background-color: $admin;
    padding-top: 50px;
}

#formAdmitPiece {
    width: 720px;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 2px 2px 10px 0 rgba(49,86,126,0.08);            
        h2{
            text-align: center;
            font-size: 20px;
        }
    .admitPieceForm{
        width: 70%;
        margin: 65px 15%;
    }
    input{
        width: 100%;
        margin: 4px 0;
        border: none;
        color: $black;
    }
    .mat-form-field {
        display: block;
    }
    input.custom-file-input {
        border-bottom: none;
        height: 65px;
        outline: none;
    }
    input::-webkit-input-placeholder {
        color: $inputText;
    }
    textarea, select{
        width: 100%;
        border: none;
        color: $black;
    }
    textarea::-webkit-input-placeholder {
        color: $inputText;
    }
    select{
        height: 35px;
        background-color: $white;
        color: $inputText;
    }
    .h5{
        font-weight: $fontRegular;
    }
    button {
        margin-bottom: 60px;
        margin-top: 30px;
    }
}