<div class="forms" id="admitPiece">
    <div class="formAdmitPiece" id="formAdmitPiece">
      <div class="formAdmitPiece__header">
        <h2>Admit a new piece to the gallery</h2>
      </div>
      
      <form class="admitPieceForm" [formGroup]="admitPieceForm" (submit)="admitPieceSubmit(admitPieceForm)" novalidate>

            <mat-form-field>
              <input class="h5" matInput placeholder="Piece Title" formControlName="title">
            </mat-form-field>
            
            <mat-form-field>
              <input class="h5" matInput placeholder="Material" formControlName="material">
            </mat-form-field>

            <mat-form-field>
              <textarea class="h5" matInput cols="30" rows="10" placeholder="Short piece description" autocomplete="" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field>
              <input class="h5" matInput placeholder="Size" formControlName="size">
            </mat-form-field>

            <mat-form-field>
              <input class="h5" matInput placeholder="Price" formControlName="price">
            </mat-form-field>
        
            <mat-form-field>
                <mat-select class="h5" placeholder="Year made" formControlName="year">
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select class="h5" placeholder="Media" formControlName="media">
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input class="h5" matInput placeholder="image url" formControlName="piece_image">
              </mat-form-field>
        
            <button class="btnDark">Admit Piece</button>
  
      </form>
    </div>
  </div>
  
  
