/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i');
// Add this to your global stylesheet after your theme setup
.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:active,
    &:focus {
      outline: none;
    }
  }
  body {
    width: 100%;
    min-height: 100vh;
    background-color: #F9FDFF;
  }
  a {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: #000;
  }  